<nav class="navbar navbar-expand bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">Instagram</a>
    </div>
    <div class="container-fluid flex-row-reverse">
        <div class="btn-group">
            <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
                <img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/3.jpeg"
                alt="Avatar Logo" style="width:40px;" class="rounded-pill">
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
             <a style="color: inherit;
             text-decoration: inherit;
             cursor: inherit;" href="./perfil.html"><li><button class="dropdown-item" type="button">Perfil</button></li></a>
              <a style="color: inherit;
              text-decoration: inherit;
              cursor: inherit;" href="./ajustePerfil.html"><li><button class="dropdown-item" type="button">Ajustes</button></li></a>
              <a style="color: inherit;
              text-decoration: inherit;
              cursor: inherit;" href="./login.html"><li><button class="dropdown-item" type="button">Salir</button></li></a>
            </ul>
          </div>
    </div>
</nav>