<section class="hero">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3">
              <div class="cardbox shadow-lg bg-white">
                  <div class="cardbox-heading">
                      <div class="media m-0">
                          <div class="d-flex mr-3">
                              <a href=""><img class="img-fluid rounded-circle"
                                src="https://via.placeholder.com/420x260/FFB6C1/000000"
                                      alt="User"></a>
                          </div>
                          <div class="media-body">
                              <p class="m-0">Benjamin Robinson</p>
                              <small><span><i class="icon ion-md-pin"></i> Nairobi, Kenya</span></small>
                              <small><span><i class="icon ion-md-time"></i> 10 hours ago</span></small>
                          </div>
                      </div>
                  </div>

                  <div class="cardbox-item">
                      <img class="img-fluid"
                      src="https://via.placeholder.com/600x400/FFB6C1/000000"
                          alt="Image">
                  </div>
                  <div class="cardbox-base">
                      <ul class="float-right">
                          <li><a><i class="fa fa-comments"></i></a></li>
                          <li><a><em class="mr-5">12</em></a></li>
                      </ul>
                      <ul>
                          <li><a><i class="fa fa-thumbs-up "></i></a></li>
                          <li><a><span>242 Likes</span></a></li>
                      </ul>
                  </div>
                  <div class="cardbox-comments">
                      <span class="comment-avatar float-left">
                          <a href=""><img class="rounded-circle"
                            src="https://via.placeholder.com/420x260/FFB6C1/000000"
                                  alt="..."></a>
                      </span>
                      <div class="search">
                          <input placeholder="Write a comment" type="text">
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
